.header {
  &__top {
    padding: 1rem 0;
    align-items: center;
    ul {
      justify-content: flex-end;
      align-items: center;
      li {
        color: $color-light;
        margin-right: 2rem;
      }
      a {
        color: $color-light;
      }
      button {
        background-color: transparent;
        color: $color-light;
        border: none;
        font-size: 1.8rem;
      }
    }
  }

  &__main__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5rem 0;
  }

  nav {
    ul {
      li {
        margin: 0 0.5rem;
        a {
          padding: 5.5rem 1.5rem 1rem 1.5rem;
          color: $color-primary;
          &:hover {
            background-color: #6695bd;
            color: $color-light;
          }
        }
      }
    }
  }

  .socialmedia {
    li {
      margin: 0 1rem;
      a {
        font-size: 2rem;
        color: $color-primary;
      }
    }
  }
}
