$color-primary: hsl(242, 100%, 21%);
$color-primary-d: hsl(242, 100%, 11%);

$color-secondary: hsl(208, 40%, 57%);
$color-secondary-d: hsl(208, 40%, 47%);

$color-light: hsl(0, 0%, 100%);
$color-light-d: hsl(0, 0%, 90%);

$color-dark: hsl(0, 0%, 10%);

$break-sm: 56rem;

$font-reg: "Poppins", sans-serif;
