@for $i from 1 through 5 {
  .mb--#{$i} {
    margin-bottom: #{$i}rem;
  }
}

$positions: grid, block, flex, inline-block;
@each $position in $positions {
  .d {
    &--#{$position} {
      display: #{$position};
    }
  }
}

$names: (
  "primary": $color-primary,
  "secondary": $color-secondary,
);
@each $name, $value in $names {
  .bg {
    &--#{$name} {
      background-color: #{$value};
    }
  }
}
